<html>
	<body>
    <fieldset>
		<form action = "http://localhost:{{ port }}/insert" method = "POST" target="_self">
		<p>Song <input type = "text" name = "Key" /></p>
		<p>Node <input type = "text" name = "Value" /></p>
		<p><input type = "submit" value = "Insert" /></p>
		</form>
        <p>Query</p>
        <p>Song <input type = "text" name = "Key" /></p>
        <p><input type = "submit" value = "Delete" /></p>
        <p><input type = "submit" value = "Depart" /></p>
        </fieldset>
	</body>
</html>